
// Box-Sizing
@mixin box-sizing($box-size) {
  -webkit-box-sizing: $box-size;
  -moz-box-sizing: $box-size;
  box-sizing: $box-size;
}

// Vertical centering
@mixin vcenter {
  display: inline-block;
  vertical-align: middle;
}

// Text Ellipsis
@mixin ellipsize {
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-direction($direction) {
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin align-content($align) {
  -ms-align-content: $align;
  -webkit-align-content: $align;
  align-content: $align;
}