
// Box-Sizing
@mixin box-sizing($box-size) {
  -webkit-box-sizing: $box-size;
  -moz-box-sizing: $box-size;
  box-sizing: $box-size;
}

// Vertical centering
@mixin vcenter {
  display: inline-block;
  vertical-align: middle;
}

// Text Ellipsis
@mixin ellipsize {
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  -moz-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}