
@import 'helpers';

html, body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  font-size: 16px;
}

.app-container {
  width: 100%;
  height: 100%;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
  }
  .layout {
    padding: 18px;
    width: 100%;
    height: 100%;
  }

  .editor-grid {
    width: 100%;
    height: 100%;
    .grid-layout.active { background-image: url('./svg/grid.svg'); }
    .grid-layout {
      min-width: 100%;
      min-height: 100%;
      margin: 0;
      background-size: 42px 42px;
      background-position: 0 0;
    }
    .editor-widget {
      height: 100%;
      width: 100%;
      border-width: 3px;
      border-style: solid;
      padding: 3px;
    }
    .header {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      cursor: move;
      font-size: 16px;
      line-height: 21px;
      height: 22px;
      position: relative;
      overflow: hidden;
      .wrapper { position: relative; z-index: 1; }
      .title {
        @include ellipsize;
        .value { padding: 0 12px 0 6px; }
      }
      .minimize-btn-container { margin-left: 6px; }
      .close-btn, .minimize-btn-container {
        text-align: center;
        line-height: 21px;
        cursor: pointer;
        width: 21px;
        height: 22px;
        border-bottom: 1px solid transparent;
        display: inline-block;
      }
      .minimize-btn {
        line-height: 21px;
        @include transition(-webkit-transform linear 0.3s);
        @include transition(-ms-transform linear 0.3s);
        @include transition(-o-transform linear 0.3s);
        @include transition(-moz-transform linear 0.3s);
        @include transition(transform linear 0.3s);
        @include transform(rotate(0deg));
      }
      .minimize-btn.expanded {
        @include transform(rotate(-90deg));
      }
      .striped {
        position: absolute;
        z-index: 0;
        height: 10px;
        width: 100%;
        top: 5px;
        left: 0;
        .stripe {
          height: 2px;
          border-bottom-width: 1px;
          border-bottom-style: dotted;
        }
        .offset { margin-left: 1px; }
      }
    }
    .content-box {
      padding: 6px;
      height: calc(100% - 22px);
    }
    .content {
      width: 100%;
      height: 100%;
      overflow: auto;
      position: relative;
    }
  }
}