// Color Palette
$background-color: #00242f; // body background color
$foreground-color: #002B36; // offset color for foreground elements
$highlight-background-color:  #0B3843; // used to highlight actions, e.g. hover, focus
$highlight-foreground-color:  #2B7E76; // used to highlight special actions, e.g. Save Buttons

$separator-color: #00212b; // Used for borders, separators, etc..

$text-color: #aaa; // Default text color
$text-highlight-color: #fff; // highlighted text color (hover, etc..)


body.theme-solarized {
  background-color: $background-color;
  color: $text-color;

  .app-container {
    .btn.btn-default {
      background-color: $foreground-color;
      background-image: linear-gradient(to bottom, #{$foreground-color} 0%, #{$background-color} 100%);
      text-shadow: none;
      border-color: $background-color;
      color: $text-color;
      box-shadow: inset 0 1px 0 rgba(255, 254, 255, 0.025), 0 1px 1px rgba(0, 0, 0, .015);
    }
    .btn:focus, .btn:hover {
      color: #fff;
      background-image: none;
    }
    .btn.btn-default:focus { box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); }
    .dropdown-menu { background-color: $foreground-color; }
    .dropdown-menu > li > a { color: $text-color; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background: $highlight-background-color; color: $text-highlight-color; }
    .dropdown-submenu > a:after { border-left-color: $text-color; }
    .dropdown-submenu:hover > a:after, .dropdown-submenu:focus > a:after { border-left-color: $text-highlight-color; }
    li.divider { background-color: $separator-color; }

    .ps-container {
      .ps-scrollbar-x { background-color: $highlight-foreground-color; }
      .ps-scrollbar-y { background-color: $highlight-foreground-color; }
      .ps-scrollbar-x-rail:hover {
        background-color: rgba(0, 0, 0, 0.3);
        .ps-scrollbar-x { background-color: $highlight-foreground-color; }
      }
      .ps-scrollbar-y-rail:hover {
        background-color: rgba(0, 0, 0, 0.3);
        .ps-scrollbar-y { background-color: $highlight-foreground-color; }
      }
    }
    .ps-container.ps-in-scrolling.ps-x {
      .ps-scrollbar-x-rail { background-color: rgba(0, 0, 0, 0.3); }
      .ps-scrollbar-x { background-color: $highlight-foreground-color; }
    }
    .ps-container.ps-in-scrolling.ps-y {
      .ps-scrollbar-y-rail { background-color: rgba(0, 0, 0, 0.3); }
      .ps-scrollbar-y { background-color: $highlight-foreground-color; }
    }

    .overlay { background-color: rgba(0,0,0,0.3); }

    .layout {
      .gs-resize-handle { background-image: url('./svg/resizer-light.svg'); }
      .editor-grid {
        .preview-holder { opacity: 0.03; }
        .editor-widget {
          background-color: $foreground-color;
          border-color: $separator-color;
          .header {
            border-bottom-color: rgba(0,0,0,0.1);
            background-color: $highlight-background-color;
            .title .value, .pull-right { background-color: $highlight-background-color; }
            .stripe { border-bottom-color: rgba(170, 170, 170, 0.3); }
            .minimize-btn-container:hover .minimize-btn, .close-btn:hover { color: $text-highlight-color; }
          }
          .content-box { background-color: rgba(0, 0, 0, 0.1); }
        }
      }
    }
  }
}