
@import 'helpers';

.editor-grid {
  .widget-menubar {
    .content-menubar {
      overflow: visible !important;
      .wrapper {
        @include flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        justify-content: center;
        align-items: center;
        @include align-content(center);
        height: 100%;
        .menu-entry {
          padding: 0 9px;
        }
      }
    }
  }
  .widget-log-view {
    .content-log-view {
      .item {
        white-space: nowrap;
        font-size: 14px;
      }
      .severity {
        margin-left: 3px;
        .severity-trace, .severity-debug { color: #87009c; }
        .severity-info { color: #1F98C7; }
        .severity-warn { color: #cec405; }
        .severity-error { color: #d00404; }
      }
      .message {
        margin-left: 6px;
      }
    }
  }
}