
@import 'helpers';

.editor-grid {
  .widget-menubar {
    .content-menubar {
      overflow: visible !important;
      .wrapper {
        @include flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        justify-content: center;
        align-items: center;
        @include align-content(center);
        height: 100%;
        .menu-entry {
          padding: 0 9px;
        }
      }
    }
  }
}