.menu-entry
  .btn-group
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") AdScriptor
    ul.dropdown-menu
      li
        a First Item
.menu-entry
  .btn-group
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") View
    ul.dropdown-menu
      li.dropdown-submenu
        a(href="#") Layout
        ul.dropdown-menu
          li
            a.menu-action(href="#", data-menu-category="layout", data-menu-value="default") Default
            a.menu-action(href="#", data-menu-category="layout", data-menu-value="multi-split") Multi-Split
            a.menu-action(href="#", data-menu-category="layout", data-menu-value="live-execution") Live Execution
            a.menu-action(href="#", data-menu-category="layout", data-menu-value="developing") Developing
            a.menu-action(href="#", data-menu-category="layout", data-menu-value="testing") Testing
      li.dropdown-submenu
        a(href="#") Theme
        ul.dropdown-menu
          li
            a.menu-action(href="#") Solarized Dark
            a.menu-action(href="#") White Flush
            a.menu-action(href="#") Grey
            a.menu-action(href="#") Darker than black
      li.dropdown-submenu
        a(href="#") Add Window
        ul.dropdown-menu
          li
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Menu
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Project Explorer
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Editor
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Live-Console
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Run Script
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Web Browser
            a.menu-action(href="#", data-menu-category="addwindow", data-menu-value="menubar") Log
.menu-entry
  .btn-group
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") btn
    ul.dropdown-menu
      li
        a(href="#") Action
        a(href="#") Action
        a(href="#") Action
      li.divider
      li.dropdown-submenu
        a(tabindex="-1" href="#") More options
        ul.dropdown-menu
          li
            a(tabindex="-1" href="#") Second level
          li.dropdown-submenu
            a(href="#") More..
            ul.dropdown-menu
              li
                a(href="#") 3rd level
              li
                a(href="#") 3rd level
          li
            a(href="#") Second level
          li
            a(href="#") Second level
.menu-entry
  .btn-group
    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") btn
    ul.dropdown-menu
      li
        a(href="#") Action