.editor-widget
  .drag-handle.header
    .drag-handle.striped
      .drag-handle.stripe
      .drag-handle.stripe.offset
      .drag-handle.stripe
      .drag-handle.stripe.offset
      .drag-handle.stripe
    .drag-handle.wrapper
      .drag-handle.pull-right
        span.fa.fa-caret-down.minimize-btn
        span.fa.fa-times.close-btn
      .drag-handle.title
        span.drag-handle.value=name