.editor-widget
  .drag-handle.header
    .drag-handle.striped
      .drag-handle.stripe
      .drag-handle.stripe.offset
      .drag-handle.stripe
      .drag-handle.stripe.offset
      .drag-handle.stripe
    .drag-handle.wrapper
      .drag-handle.pull-right
        span.minimize-btn-container(title=collapsed ? 'Expand' : 'Collapse')
          span.fa.fa-caret-left.minimize-btn(class=collapsed ? undefined : 'expanded')
        span.fa.fa-times.close-btn(title="Close")
      .drag-handle.title
        span.drag-handle.value=name
  .content-box(style=collapsed ? 'display: none' : undefined)
    .content